Source: td-agent
Section: Network
Priority: optional
Maintainer: Kazuki Ohta <k@treasure-data.com>
Build-Depends:
  debhelper (>= 7.0.50~),
  autotools-dev,
  libssl-dev,
  wget,
  git-core,
  libxslt1.1,
  libxslt1-dev,
  libxml2,
  libxml2-dev,
  libyaml-dev
Standards-Version: 3.9.1
Homepage: http://treasure-data.com/
#Vcs-Git: git://git.debian.org/collab-maint/td-agent.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/td-agent.git;a=summary

Package: td-agent
Architecture: any
Depends:
  ${shlibs:Depends},
  ${misc:Depends},
  ${dist:Depends},
  libssl0.9.8,
  libxslt1.1,
  libxml2
Description: A data collector agent for Treasure Data
