Source: td-agent
Section: Network
Priority: optional
Maintainer: Kazuki Ohta <k@treasure-data.com>
Build-Depends: debhelper (>= 7.0.50~), autotools-dev
Standards-Version: 3.9.1
Homepage: http://treasure-data.com/
#Vcs-Git: git://git.debian.org/collab-maint/td-agent.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/td-agent.git;a=summary

Package: td-agent
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
