Source: td-agent
Section: net
Priority: optional
Maintainer: Hideki Yamane <henrich@debian.org>
Build-Depends:
  debhelper (>= 7.0.15~),
  autoconf,
  automake,
  libtool,
  autotools-dev,
  libssl-dev,
  wget,
  git,
  libxslt1.1,
  libxslt1-dev,
  libxml2,
  libxml2-dev,
  libyaml-dev
Standards-Version: 3.9.4
Homepage: http://treasure-data.com/
#Vcs-Git: git://git.debian.org/collab-maint/td-agent.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/td-agent.git;a=summary

Package: td-agent
Architecture: any
Depends:
  ${shlibs:Depends},
  ${misc:Depends},
  libssl0.9.8,
  libxslt1.1,
  libxml2,
  adduser
Recommends: ntp
Description: A data collector agent for Treasure Data
