#!/usr/bin/make -f
#export DH_VERBOSE=1

OPTION="--prefix=/usr --sysconfdir=/etc --localstatedir=/var/"

%:
	dh $@ 

override_dh_auto_configure:
	$(CURDIR)/configure $(OPTION)

override_dh_auto_test:
	true
